# Homework 2

## Appartment Prices

In [1]:
import pandas as pd

Read the raw csv link and save it as a dataset

In [7]:
df_appartment_prices = pd.read_csv("https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/Booli_sold.csv")
df_appartment_prices

,listPrice,rent,livingArea,rooms,published,constructionYear,objectType,booliId,soldDate,soldPrice,...,location.position.latitude,location.position.longitude,location.position.isApproximate,location.region.municipalityName,location.region.countyName,location.distance.ocean,source.name,source.id,source.type,source.url
0,3995000,4467.0,73.0,3.0,2018-10-15 13:33:18,1935.0,Lägenhet,3263989,2018-11-08,3820000,...,59.371033,18.054057,NaN,Stockholm,Stockholms län,260,MOHV,1901865,Broker,http://www.mohv.se/
1,1995000,1773.0,36.0,1.0,2018-10-05 14:29:28,1968.0,Lägenhet,3256231,2018-10-19,2355000,...,59.371242,18.057821,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
2,5100000,3839.0,81.0,3.0,2018-09-11 13:44:43,1936.0,Lägenhet,3236660,2018-09-27,6110000,...,59.371617,18.054716,NaN,Stockholm,Stockholms län,186,Historiska Hem AB,65645750,Broker,http://historiskahem.se/
3,5495000,4483.0,107.0,4.0,2018-08-25 02:56:56,1936.0,Lägenhet,3224374,2018-09-06,8050000,...,59.371480,18.053880,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
4,1995000,1696.0,29.0,1.0,2018-06-15 17:16:19,1936.0,Lägenhet,3185496,2018-06-18,2400000,...,59.372160,18.053542,True,Stockholm,Stockholms län,166,Mäklarhuset,204,Broker,http://www.maklarhuset.se/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,1495000,1388.0,26.0,1.0,2012-10-20 07:36:37,1935.0,Lägenhet,1297784,2012-11-30,1475000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/
154,2245000,2455.0,50.0,2.0,2012-10-19 15:32:58,1935.0,Lägenhet,1296874,2012-10-27,2245000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/
155,1450000,1072.0,23.0,1.0,2012-09-14 05:10:08,1936.0,Lägenhet,1270599,2012-10-22,1450000,...,59.371194,18.053552,NaN,Stockholm,Stockholms län,255,Notar,1566,Broker,http://www.notar.se/
156,2495000,2748.0,56.0,3.0,2012-09-21 12:19:37,1935.0,Lägenhet,1276232,2012-10-09,2200000,...,59.372759,18.054634,True,Stockholm,Stockholms län,70,Notar,1566,Broker,http://www.notar.se/
157,2300000,2455.0,50.0,2.0,2012-09-16 02:33:35,1935.0,Lägenhet,1272477,2012-10-09,2180000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/

Remove some unneccessary columns to make it easier to read.

In [9]:
df_appartment_prices_relevent = df_appartment_prices[["listPrice", "livingArea", "rooms", "constructionYear", "soldDate", "soldPrice"]]
df_appartment_prices_relevent

     listPrice  livingArea  rooms  constructionYear    soldDate  soldPrice
0      3995000        73.0    3.0            1935.0  2018-11-08    3820000
1      1995000        36.0    1.0            1968.0  2018-10-19    2355000
2      5100000        81.0    3.0            1936.0  2018-09-27    6110000
3      5495000       107.0    4.0            1936.0  2018-09-06    8050000
4      1995000        29.0    1.0            1936.0  2018-06-18    2400000
..         ...         ...    ...               ...         ...        ...
153    1495000        26.0    1.0            1935.0  2012-11-30    1475000
154    2245000        50.0    2.0            1935.0  2012-10-27    2245000
155    1450000        23.0    1.0            1936.0  2012-10-22    1450000
156    2495000        56.0    3.0            1935.0  2012-10-09    2200000
157    2300000        50.0    2.0            1935.0  2012-10-09    2180000

[158 rows x 6 columns]

Divide the soldPrice with livingArea to calculate the price per squaremeter.

In [10]:
df_appartment_prices_relevent["ppsqm"] = df_appartment_prices_relevent["soldPrice"] / df_appartment_prices["livingArea"]
df_appartment_prices_relevent

C:\Users\benja\AppData\Local\Temp\ipykernel_20308\751543911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_appartment_prices_relevent["ppsqm"] = df_appartment_prices_relevent["soldPrice"] / df_appartment_prices["livingArea"]

,listPrice,livingArea,rooms,constructionYear,soldDate,soldPrice,ppsqm
0,3995000,73.0,3.0,1935.0,2018-11-08,3820000,52328.767123
1,1995000,36.0,1.0,1968.0,2018-10-19,2355000,65416.666667
2,5100000,81.0,3.0,1936.0,2018-09-27,6110000,75432.098765
3,5495000,107.0,4.0,1936.0,2018-09-06,8050000,75233.644860
4,1995000,29.0,1.0,1936.0,2018-06-18,2400000,82758.620690
...,...,...,...,...,...,...,...
153,1495000,26.0,1.0,1935.0,2012-11-30,1475000,56730.769231
154,2245000,50.0,2.0,1935.0,2012-10-27,2245000,44900.000000
155,1450000,23.0,1.0,1936.0,2012-10-22,1450000,63043.478261
156,2495000,56.0,3.0,1935.0,2012-10-09,2200000,39285.714286
157,2300000,50.0,2.0,1935.0,2012-10-09,2180000,43600.000000

Sort it by ppsqm, only show the top five using head function.

In [16]:
df_appartment_prices_sorted = df_appartment_prices_relevent.sort_values("ppsqm", ascending = False)
df_appartment_prices_sorted.head(5)

,listPrice,livingArea,rooms,constructionYear,soldDate,soldPrice,ppsqm
67,1595000,24.0,1.0,1935.0,2016-01-21,2500000,104166.666667
50,1890000,24.0,1.0,1935.0,2016-06-21,2450000,102083.333333
54,1795000,23.0,1.0,1935.0,2016-04-28,2300000,100000.000000
34,1750000,25.0,1.0,1936.0,2017-06-01,2210000,88400.000000
55,1895000,26.9,1.0,1968.0,2016-04-19,2300000,85501.858736

Calculate the average using the .mean() function.

In [19]:
average_ppsqm = df_appartment_prices_sorted["ppsqm"].mean()
float(average_ppsqm)

58759.382760081724

In [14]:
df_appartment_prices_sorted_by_year = df_appartment_prices_relevent.sort_values("constructionYear", ascending = True)
df_appartment_prices_sorted_by_year

,listPrice,livingArea,rooms,constructionYear,soldDate,soldPrice,ppsqm
93,3300000,91.0,4.0,1931.0,2015-05-21,3570000,39230.769231
92,4975000,102.0,4.0,1931.0,2015-06-11,5800000,56862.745098
23,2575000,39.0,1.5,1934.0,2017-10-29,2600000,66666.666667
72,1995000,39.0,1.5,1934.0,2015-12-16,2590000,66410.256410
12,4750000,92.0,3.0,1935.0,2018-05-16,4900000,53260.869565
...,...,...,...,...,...,...,...
89,1950000,31.0,2.0,NaN,2015-07-02,2300000,74193.548387
129,2495000,53.0,2.0,NaN,2014-02-10,2495000,47075.471698
131,3500000,76.0,3.0,NaN,2014-01-31,3700000,48684.210526
136,2700000,64.3,2.0,NaN,2013-08-17,2600000,40435.458787
144,3975000,95.0,4.0,NaN,2013-04-14,3975000,41842.105263

In [21]:
df_no_na = df_appartment_prices_sorted_by_year.dropna(subset=["constructionYear"])
df_no_na.tail(20)

,listPrice,livingArea,rooms,constructionYear,soldDate,soldPrice,ppsqm
17,3650000,60.9,2.0,1968.0,2018-01-09,3650000,59934.318555
21,3475000,64.0,2.0,1968.0,2017-11-01,3475000,54296.875000
60,3500000,60.3,2.0,1968.0,2016-02-23,3550000,58872.305141
64,4295000,81.0,3.5,1968.0,2016-01-25,4530000,55925.925926
98,1995000,36.0,1.0,1968.0,2015-03-18,2410000,66944.444444
90,2595000,60.3,2.0,1968.0,2015-06-26,2880000,47761.194030
76,3695000,70.0,2.0,1968.0,2015-11-06,3695000,52785.714286
85,1995000,36.0,1.0,1968.0,2015-09-07,2610000,72500.000000
146,3495000,98.0,3.0,1968.0,2013-03-28,3500000,35714.285714
123,4795000,96.7,4.0,1969.0,2014-05-15,4850000,50155.118925
124,1800000,36.0,1.5,1969.0,2014-04-22,1700000,47222.222222
66,5695000,112.0,5.0,1969.0,2016-01-22,6350000,56696.428571
31,7200000,104.0,3.5,1969.0,2017-08-14,7200000,69230.769231
7,3250000,64.3,2.0,1969.0,2018-06-15,3300000,51321.928460
114,3875000,86.3,3.0,1969.0,2014-09-11,4405000,51042.873696
119,4295000,103.8,4.0,1969.0,2014-05-21,4900000,47206.165703
87,3100000,61.0,2.0,1969.0,2015-08-20,3355000,55000.000000
105,2600000,60.0,2.0,1969.0,2014-12-05,2860000,47666.666667
35,4300000,70.0,3.0,1969.0,2017-05-24,4375000,62500.000000
151,2300000,63.0,2.0,1969.0,2013-01-18,2250000,35714.285714