# Homework 2

## Appartment Prices

In [2]:
import pandas as pd

Read the raw csv link and save it as a dataset

In [4]:
df_appartment_prices = pd.read_csv("https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/Booli_sold.csv")
df_appartment_prices

,listPrice,rent,livingArea,rooms,published,constructionYear,objectType,booliId,soldDate,soldPrice,...,location.position.latitude,location.position.longitude,location.position.isApproximate,location.region.municipalityName,location.region.countyName,location.distance.ocean,source.name,source.id,source.type,source.url
0,3995000,4467.0,73.0,3.0,2018-10-15 13:33:18,1935.0,Lägenhet,3263989,2018-11-08,3820000,...,59.371033,18.054057,NaN,Stockholm,Stockholms län,260,MOHV,1901865,Broker,http://www.mohv.se/
1,1995000,1773.0,36.0,1.0,2018-10-05 14:29:28,1968.0,Lägenhet,3256231,2018-10-19,2355000,...,59.371242,18.057821,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
2,5100000,3839.0,81.0,3.0,2018-09-11 13:44:43,1936.0,Lägenhet,3236660,2018-09-27,6110000,...,59.371617,18.054716,NaN,Stockholm,Stockholms län,186,Historiska Hem AB,65645750,Broker,http://historiskahem.se/
3,5495000,4483.0,107.0,4.0,2018-08-25 02:56:56,1936.0,Lägenhet,3224374,2018-09-06,8050000,...,59.371480,18.053880,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
4,1995000,1696.0,29.0,1.0,2018-06-15 17:16:19,1936.0,Lägenhet,3185496,2018-06-18,2400000,...,59.372160,18.053542,True,Stockholm,Stockholms län,166,Mäklarhuset,204,Broker,http://www.maklarhuset.se/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,1495000,1388.0,26.0,1.0,2012-10-20 07:36:37,1935.0,Lägenhet,1297784,2012-11-30,1475000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/
154,2245000,2455.0,50.0,2.0,2012-10-19 15:32:58,1935.0,Lägenhet,1296874,2012-10-27,2245000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/
155,1450000,1072.0,23.0,1.0,2012-09-14 05:10:08,1936.0,Lägenhet,1270599,2012-10-22,1450000,...,59.371194,18.053552,NaN,Stockholm,Stockholms län,255,Notar,1566,Broker,http://www.notar.se/
156,2495000,2748.0,56.0,3.0,2012-09-21 12:19:37,1935.0,Lägenhet,1276232,2012-10-09,2200000,...,59.372759,18.054634,True,Stockholm,Stockholms län,70,Notar,1566,Broker,http://www.notar.se/
157,2300000,2455.0,50.0,2.0,2012-09-16 02:33:35,1935.0,Lägenhet,1272477,2012-10-09,2180000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/

Remove some unneccessary columns to make it easier to read.

In [5]:
df_appartment_prices_relevent = df_appartment_prices[["listPrice", "livingArea", "rooms", "constructionYear", "soldDate", "soldPrice"]]
df_appartment_prices_relevent

     listPrice  livingArea  rooms  constructionYear    soldDate  soldPrice
0      3995000        73.0    3.0            1935.0  2018-11-08    3820000
1      1995000        36.0    1.0            1968.0  2018-10-19    2355000
2      5100000        81.0    3.0            1936.0  2018-09-27    6110000
3      5495000       107.0    4.0            1936.0  2018-09-06    8050000
4      1995000        29.0    1.0            1936.0  2018-06-18    2400000
..         ...         ...    ...               ...         ...        ...
153    1495000        26.0    1.0            1935.0  2012-11-30    1475000
154    2245000        50.0    2.0            1935.0  2012-10-27    2245000
155    1450000        23.0    1.0            1936.0  2012-10-22    1450000
156    2495000        56.0    3.0            1935.0  2012-10-09    2200000
157    2300000        50.0    2.0            1935.0  2012-10-09    2180000

[158 rows x 6 columns]

Divide the soldPrice with livingArea to calculate the price per squaremeter.

In [6]:
df_appartment_prices_relevent["ppsqm"] = df_appartment_prices_relevent["soldPrice"] / df_appartment_prices["livingArea"]
df_appartment_prices_relevent

C:\Users\benja\AppData\Local\Temp\ipykernel_8724\751543911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_appartment_prices_relevent["ppsqm"] = df_appartment_prices_relevent["soldPrice"] / df_appartment_prices["livingArea"]

,listPrice,livingArea,rooms,constructionYear,soldDate,soldPrice,ppsqm
0,3995000,73.0,3.0,1935.0,2018-11-08,3820000,52328.767123
1,1995000,36.0,1.0,1968.0,2018-10-19,2355000,65416.666667
2,5100000,81.0,3.0,1936.0,2018-09-27,6110000,75432.098765
3,5495000,107.0,4.0,1936.0,2018-09-06,8050000,75233.644860
4,1995000,29.0,1.0,1936.0,2018-06-18,2400000,82758.620690
...,...,...,...,...,...,...,...
153,1495000,26.0,1.0,1935.0,2012-11-30,1475000,56730.769231
154,2245000,50.0,2.0,1935.0,2012-10-27,2245000,44900.000000
155,1450000,23.0,1.0,1936.0,2012-10-22,1450000,63043.478261
156,2495000,56.0,3.0,1935.0,2012-10-09,2200000,39285.714286
157,2300000,50.0,2.0,1935.0,2012-10-09,2180000,43600.000000

Sort it by ppsqm, only show the top five using head function.

In [16]:
df_appartment_prices_sorted = df_appartment_prices_relevent.sort_values("ppsqm", ascending = False)
df_appartment_prices_sorted.head(5)

,listPrice,livingArea,rooms,constructionYear,soldDate,soldPrice,ppsqm
67,1595000,24.0,1.0,1935.0,2016-01-21,2500000,104166.666667
50,1890000,24.0,1.0,1935.0,2016-06-21,2450000,102083.333333
54,1795000,23.0,1.0,1935.0,2016-04-28,2300000,100000.000000
34,1750000,25.0,1.0,1936.0,2017-06-01,2210000,88400.000000
55,1895000,26.9,1.0,1968.0,2016-04-19,2300000,85501.858736

Calculate the average using the .mean() function.

In [19]:
average_ppsqm = df_appartment_prices_sorted["ppsqm"].mean()
float(average_ppsqm)

58759.382760081724

In [7]:
df_appartment_prices_sorted_by_year = df_appartment_prices_relevent.sort_values("constructionYear", ascending = True)
df_appartment_prices_sorted_by_year

,listPrice,livingArea,rooms,constructionYear,soldDate,soldPrice,ppsqm
93,3300000,91.0,4.0,1931.0,2015-05-21,3570000,39230.769231
92,4975000,102.0,4.0,1931.0,2015-06-11,5800000,56862.745098
23,2575000,39.0,1.5,1934.0,2017-10-29,2600000,66666.666667
72,1995000,39.0,1.5,1934.0,2015-12-16,2590000,66410.256410
12,4750000,92.0,3.0,1935.0,2018-05-16,4900000,53260.869565
...,...,...,...,...,...,...,...
89,1950000,31.0,2.0,NaN,2015-07-02,2300000,74193.548387
129,2495000,53.0,2.0,NaN,2014-02-10,2495000,47075.471698
131,3500000,76.0,3.0,NaN,2014-01-31,3700000,48684.210526
136,2700000,64.3,2.0,NaN,2013-08-17,2600000,40435.458787
144,3975000,95.0,4.0,NaN,2013-04-14,3975000,41842.105263

In [21]:
df_no_na = df_appartment_prices_sorted_by_year.dropna(subset=["constructionYear"])
df_no_na.tail(20)

,listPrice,livingArea,rooms,constructionYear,soldDate,soldPrice,ppsqm
17,3650000,60.9,2.0,1968.0,2018-01-09,3650000,59934.318555
21,3475000,64.0,2.0,1968.0,2017-11-01,3475000,54296.875000
60,3500000,60.3,2.0,1968.0,2016-02-23,3550000,58872.305141
64,4295000,81.0,3.5,1968.0,2016-01-25,4530000,55925.925926
98,1995000,36.0,1.0,1968.0,2015-03-18,2410000,66944.444444
90,2595000,60.3,2.0,1968.0,2015-06-26,2880000,47761.194030
76,3695000,70.0,2.0,1968.0,2015-11-06,3695000,52785.714286
85,1995000,36.0,1.0,1968.0,2015-09-07,2610000,72500.000000
146,3495000,98.0,3.0,1968.0,2013-03-28,3500000,35714.285714
123,4795000,96.7,4.0,1969.0,2014-05-15,4850000,50155.118925
124,1800000,36.0,1.5,1969.0,2014-04-22,1700000,47222.222222
66,5695000,112.0,5.0,1969.0,2016-01-22,6350000,56696.428571
31,7200000,104.0,3.5,1969.0,2017-08-14,7200000,69230.769231
7,3250000,64.3,2.0,1969.0,2018-06-15,3300000,51321.928460
114,3875000,86.3,3.0,1969.0,2014-09-11,4405000,51042.873696
119,4295000,103.8,4.0,1969.0,2014-05-21,4900000,47206.165703
87,3100000,61.0,2.0,1969.0,2015-08-20,3355000,55000.000000
105,2600000,60.0,2.0,1969.0,2014-12-05,2860000,47666.666667
35,4300000,70.0,3.0,1969.0,2017-05-24,4375000,62500.000000
151,2300000,63.0,2.0,1969.0,2013-01-18,2250000,35714.285714

## The Swedish Election of 2018

Read the file, setting conditions for delimiters, decimals and NA values.

In [14]:
df_election = pd.read_csv("https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/2018_R_per_kommun.csv", delimiter = ";", decimal = ",", na_values = [" ", ""])
df_election

,LÄNSKOD,KOMMUNKOD,LÄNSNAMN,KOMMUNNAMN,M,C,L,KD,S,V,...,TRP,VL-S,ÖVR,OGEJ,BLANK,OG,RÖSTER GILTIGA,RÖSTANDE,RÖSTBERÄTTIGADE,VALDELTAGANDE
0,1,14,Stockholms län,Upplands Väsby,23.11,6.26,5.66,6.71,26.97,8.01,...,NaN,NaN,NaN,0.04,0.69,0.06,25830,26036,30740,84.70
1,1,15,Stockholms län,Vallentuna,28.29,10.11,7.73,7.58,18.91,4.47,...,0.0,NaN,0.00,0.02,0.59,0.08,20952,21099,23438,90.02
2,1,17,Stockholms län,Österåker,29.68,9.35,7.48,7.13,19.71,4.97,...,NaN,NaN,0.01,0.03,0.69,0.13,27711,27947,31309,89.26
3,1,20,Stockholms län,Värmdö,27.49,9.76,6.40,5.89,20.48,6.02,...,NaN,NaN,0.01,0.04,0.67,0.07,28115,28335,31371,90.32
4,1,23,Stockholms län,Järfälla,23.96,6.31,6.04,6.29,27.68,8.75,...,0.0,NaN,0.02,0.04,0.53,0.07,45654,45948,53230,86.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,25,80,Norrbottens län,Luleå,15.38,7.53,4.37,4.78,38.97,10.47,...,NaN,NaN,0.01,0.03,0.69,0.04,53182,53589,60185,89.04
286,25,81,Norrbottens län,Piteå,11.82,7.49,2.52,4.80,47.48,10.56,...,NaN,NaN,0.00,0.03,0.61,0.02,29523,29719,33094,89.80
287,25,82,Norrbottens län,Boden,14.32,6.23,3.61,4.61,41.76,8.10,...,NaN,NaN,0.02,0.03,0.84,0.07,19110,19291,21934,87.95
288,25,83,Norrbottens län,Haparanda,12.79,9.61,1.86,5.32,36.69,5.91,...,NaN,NaN,NaN,0.04,1.01,0.11,4402,4454,6120,72.78
289,25,84,Norrbottens län,Kiruna,10.71,5.38,2.51,4.91,38.23,13.46,...,NaN,0.05,0.02,0.16,1.09,0.05,14796,14991,17468,85.82

In [17]:
df_stockholm = df_election[df_election["LÄNSNAMN"].str.contains("Stockholms län")]
df_stockholm

,LÄNSKOD,KOMMUNKOD,LÄNSNAMN,KOMMUNNAMN,M,C,L,KD,S,V,...,TRP,VL-S,ÖVR,OGEJ,BLANK,OG,RÖSTER GILTIGA,RÖSTANDE,RÖSTBERÄTTIGADE,VALDELTAGANDE
0,1,14,Stockholms län,Upplands Väsby,23.11,6.26,5.66,6.71,26.97,8.01,...,NaN,NaN,NaN,0.04,0.69,0.06,25830,26036,30740,84.70
1,1,15,Stockholms län,Vallentuna,28.29,10.11,7.73,7.58,18.91,4.47,...,0.0,NaN,0.00,0.02,0.59,0.08,20952,21099,23438,90.02
2,1,17,Stockholms län,Österåker,29.68,9.35,7.48,7.13,19.71,4.97,...,NaN,NaN,0.01,0.03,0.69,0.13,27711,27947,31309,89.26
3,1,20,Stockholms län,Värmdö,27.49,9.76,6.40,5.89,20.48,6.02,...,NaN,NaN,0.01,0.04,0.67,0.07,28115,28335,31371,90.32
4,1,23,Stockholms län,Järfälla,23.96,6.31,6.04,6.29,27.68,8.75,...,0.0,NaN,0.02,0.04,0.53,0.07,45654,45948,53230,86.32
5,1,25,Stockholms län,Ekerö,28.12,11.24,7.64,7.85,17.17,4.76,...,NaN,NaN,0.01,0.01,0.64,0.08,17814,17946,19472,92.16
6,1,26,Stockholms län,Huddinge,24.07,7.52,6.14,5.35,26.10,8.63,...,NaN,NaN,0.01,0.04,0.58,0.07,61440,61869,72839,84.94
7,1,27,Stockholms län,Botkyrka,18.52,5.19,4.39,8.13,32.34,9.85,...,NaN,NaN,0.06,0.03,0.64,0.05,45393,45719,58436,78.24
8,1,28,Stockholms län,Salem,24.84,7.61,7.58,7.98,23.07,5.98,...,NaN,NaN,NaN,0.04,0.75,0.02,9985,10066,11463,87.81
9,1,36,Stockholms län,Haninge,22.94,6.06,5.11,5.36,27.29,7.99,...,0.0,NaN,0.01,0.05,0.79,0.05,50484,50940,59890,85.06
10,1,38,Stockholms län,Tyresö,25.84,7.93,6.94,5.75,23.87,6.37,...,NaN,NaN,0.00,0.03,0.64,0.06,30260,30482,33776,90.25
11,1,39,Stockholms län,Upplands-Bro,23.16,6.01,5.43,7.54,26.16,6.65,...,NaN,NaN,0.01,0.04,0.75,0.05,16366,16506,19023,86.77
12,1,40,Stockholms län,Nykvarn,27.24,7.65,4.56,6.06,22.42,3.52,...,NaN,NaN,NaN,NaN,0.93,0.07,6847,6916,7623,90.73
13,1,60,Stockholms län,Täby,35.97,10.98,10.71,8.31,13.99,3.20,...,NaN,NaN,0.01,0.01,0.44,0.04,46386,46616,51157,91.12
14,1,62,Stockholms län,Danderyd,41.59,11.28,11.19,10.10,8.04,2.36,...,NaN,NaN,NaN,0.03,0.24,0.03,21897,21961,23891,91.92
15,1,63,Stockholms län,Sollentuna,28.07,10.18,8.97,7.53,20.85,6.49,...,NaN,NaN,0.01,0.03,0.50,0.06,43676,43934,49597,88.58
16,1,80,Stockholms län,Stockholm,21.88,9.07,7.85,4.87,23.76,13.12,...,NaN,NaN,0.01,0.04,0.49,0.06,611206,614860,704157,87.32
17,1,81,Stockholms län,Södertälje,19.81,5.86,4.45,11.17,27.18,7.70,...,NaN,NaN,0.00,0.03,0.76,0.06,48273,48684,62783,77.54
18,1,82,Stockholms län,Nacka,28.73,12.18,8.41,6.10,19.37,6.54,...,NaN,NaN,0.00,0.03,0.49,0.04,64101,64465,71629,90.00
19,1,83,Stockholms län,Sundbyberg,22.37,8.05,7.06,5.03,26.60,11.04,...,NaN,NaN,0.01,0.03,0.59,0.05,29807,30009,35047,85.63
20,1,84,Stockholms län,Solna,23.71,9.03,8.12,5.80,24.00,9.89,...,NaN,NaN,0.00,0.03,0.46,0.06,50510,50788,58093,87.43
21,1,86,Stockholms län,Lidingö,36.02,11.79,10.78,8.59,12.35,3.50,...,NaN,NaN,NaN,0.01,0.28,0.04,31032,31138,34536,90.16
22,1,87,Stockholms län,Vaxholm,30.31,13.30,7.76,7.90,16.37,4.70,...,NaN,NaN,0.01,0.04,0.48,0.06,8106,8153,8791,92.74
23,1,88,Stockholms län,Norrtälje,22.23,9.60,4.74,5.92,26.24,6.21,...,NaN,NaN,0.00,0.02,1.09,0.02,41174,41643,47811,87.10
24,1,91,Stockholms län,Sigtuna,24.66,6.65,4.93,7.56,25.49,6.39,...,NaN,NaN,0.02,0.04,0.68,0.04,25576,25772,31071,82.95
25,1,92,Stockholms län,Nynäshamn,21.05,6.44,4.49,5.82,27.28,6.76,...,NaN,NaN,NaN,0.05,0.85,0.07,17642,17815,20606,86.46

In [24]:
legitimate_total = df_stockholm["RÖSTER GILTIGA"].sum()
int(legitimate_total)

1426237

In [42]:
highest_S = df_election.sort_values("S", ascending = False).iloc[0]["KOMMUNNAMN"]
highest_S

'Munkfors'

In [48]:
df_sorted_participation = df_election.sort_values("VALDELTAGANDE", ascending = False)
df_sorted_participation_relevent = df_sorted_participation[["KOMMUNNAMN", "VALDELTAGANDE"]]
df_sorted_participation_relevent.head(5)

    KOMMUNNAMN  VALDELTAGANDE
103      Lomma          93.86
59        Habo          93.35
98    Vellinge          93.13
22     Vaxholm          92.74
5        Ekerö          92.16

In [51]:
da_stroke = pd.read_csv("https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/stroke-data.csv")
da_stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0